@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: Roboto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}
.header-links {
  display: flex;
  gap: 30px;
  opacity: 75%;
}
ul {
  list-style: none;
}
a,
.hero-secondary-text {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 100px 15%;
  gap: 25px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 100px;
  justify-content: flex-start;
  align-items: flex-start;
}
.hero-main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin: 0;
  padding: 0;
}
.hero-image {
  flex: 1 1 500px;
  max-width: 55%;
  height: auto;
  object-fit: contain;
}
.hero-button {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  padding: 10px 35px;
  width: fit-content;
  margin-top: 15px;
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-container {
    align-items: center;
  }

  .hero-image {
    max-width: 100%;
  }
}

.info-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  padding: 40px;
}
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 60px;
  margin-bottom: 50px;
}
.img-container {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.img-container p {
  text-align: center;
  margin: 0;
  padding: 0;
  opacity: 60%;
}
.img-container > img {
  width: 100%;
  max-width: 150px;
  height: auto;
  border: 4px solid #3882f6;
  border-radius: 10px;
  margin-bottom: 10px;
}

.quote-container {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 80px;
}
.quote-text {
  text-align: center;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  margin: 0 auto;
  max-width: 800px;
  opacity: 80%;
  margin-bottom: 10px;
}
.quote-author {
  display: flex;
  justify-content: center;
  margin-left: 45%;
  font-size: 22px;
  font-weight: bold;
}

.banner {
  display: flex;
  justify-content: center;
  padding: 80px;
}
.banner-container {
  background-color: #3882f6;
  border-radius: 10px;
  max-width: 650px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 600px;
  padding: 40px 180px;
  gap: 50px;
  flex-wrap: wrap;
}
.text-container {
  flex: 1;
}
.banner-main-text {
  color: #f9faf8;
  font-weight: bold;
  font-size: 25px;
}
.banner-secondary-text {
  color: #f9faf8;
  font-size: 20px;
  opacity: 75%;
}
.banner-button {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bolder;
  border: solid 2px #f9faf8;
  border-radius: 10px;
  padding: 10px 20px;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .banner-container {
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }
}

.footer {
  text-align: center;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 40px;
}
